<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="false" />
  <arg name="world_config" default="insect_hotel" doc="objects arrangement, options: insect_hotel, insect_hotel_tables_spread" />
  <arg name="objects_of_interest" default="[klt, red_part, yellow_part, bright_green_part, dark_green_part, purple_part, magenta_part, black_part, orange_part]"/>

  <arg name="allow_search_same_table" default="true" doc="allows to search tables again without restarting the planning domain, only works when using hierarchical planning"/>
  <arg name="tables_to_search_at" default="[table_2, table_3, table_4]" doc="list of table names to search at during item and klt search"/>

  <!-- please run separately! : -->
  <!--roslaunch mobipick_bringup mobipick_bringup_both.launch -->

  <!-- 6D pose estimation and classification with deep learning -->
  <!--include file="$(find pbr_dope)/launch/dope.launch"-->

  <!-- MoveIt macros -->
  <include file="$(find robot_api)/launch/moveit_macros.launch">
    <arg name="namespace" value="mobipick" />
  </include>

  <group if="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="pose_selector_node" name="pick_pose_selector_node" output="screen">
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
      <remap from="/logical_image" to="/mobipick/eef_main_cam/rgb/logical_image"/>
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer_sim.py" ns="mobipick" output="screen" />
  </group>

  <group unless="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="pose_selector_node" name="pick_pose_selector_node" output="screen">
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
      <remap from="/logical_image" to="/mobipick/anchored_objects" />
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer.py" ns="mobipick" output="screen"/>

    <!-- color classification -->
    <include file="$(find insect_hotel_bringup)/launch/includes/color_classification.launch"/>
  </group>

  <!-- ::::: Grasp planning ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/grasp_planning.launch">
    <arg name="planning_scene_config" value="$(find insect_hotel_bringup)/config/$(arg world_config)_planning_scene.yaml" />
  </include>

  <!-- ::::: Place object ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/place.launch">
    <arg name="objects_of_interest" value="$(arg objects_of_interest)" />
  </include>

  <!-- ::::: Insert object ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/insert.launch"/>

  <!-- config for tables_demo_planning -->
  <rosparam command="load" file="$(find mobipick_pick_n_place)/config/$(arg world_config)_demo.yaml" ns="mobipick/tables_demo_planning" />
  <!-- config for items used in the demos-->
  <rosparam command="load" file="$(find insect_hotel_bringup)/config/initial_items.yaml" ns="mobipick/tables_demo_planning" />
  <rosparam param="allow_search_same_table" ns="mobipick/tables_demo_planning" subst_value="True">$(arg allow_search_same_table)</rosparam>
  <rosparam param="tables_to_search_at" ns="mobipick/tables_demo_planning" subst_value="True">$(arg tables_to_search_at)</rosparam>
</launch>
